 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: grey;
    margin:0;
    padding:0;
}

div {
    border: 1px solid Chocolate;
}

.top-navigation{
	background-color: #fff;	
	box-sizing:border-box;
}

.top-navigation > .content {
	width:60%;
	height:4.375rem;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing


}

.links {
	float:right;

}

.links > li{
	display:inline-block;
	margin:10px 15px;
	
}

a:link, 
a:visited{
	text-decoration: none;
	color:#838994;
}

.top-navigation .links > .active {
	color: #4c5058;
    font-weight: 500;
}

a:hover{
	color:black;
}
