 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: grey;
    margin:0;
    padding:0;
}

div {
    border: 1px solid Chocolate;
}

.top-navigation{
	background-color: #fff;	
	box-sizing:border-box;
}

.top-navigation > .content {
	width:60rem;
	padding: 14px 15px;
	height:4.375rem;
	margin: 0 auto;

}

.top-navigation .links {
	float:right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing:antialiased;

}

.top-navigation .links li{
	display:inline-block;
	margin-left:25px;
	
}

.top-navigation .links .active {
	color: black;
    font-weight: 500;	
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
	background-image:url(../images/backgroundimage.jpg);
	background-position:center bottom;
	background-repeat:no-repeat;
  	background-size:cover;
  	height:45.938rem;
  	text-align:center;
  	font-family: 'Roboto', sans-serif;
  	font-weight:50;
  	letter-spacing: 0.03em;
	-webkit-font-smoothing;
	padding-top:10em;
	margin:0;

}

.introduction > h1, h3{
	color:white;
	padding: 0.2em 0;
	
}

.introductiontext{
	margin-bottom: .2em;
	font-size:50px;
}

.learnmore{
	width: 9.688rem;
	border-radius: 4px;
	border-style: none;
	background-color: #f15a29;
	color:white;
	font-size: 1.125rem;
	padding: 1.3rem 1.5rem;
	cursor:pointer;
}

.learnmore:hover {
	background-color:#b34700;

}

.iconpart{
	text-align:center;
	padding-top:5em;
	background-color: white;
}

.devices{
	display:inline block;
	text-decoration: none;
	font-family:'Roboto', sans-serif;
	width:auto;
	height:auto;

}

.devices > img {
	padding:3em;
	height:15em;
	
}

.iconslist{
	margin-right:6em;

}

.iconslist > li {
	font-family:'Roboto', sans-serif;
	font-size:1.3em;
	display:inline-block;
	padding:0em 3em;

}

